.logo-design{
    margin-left: 2rem;
    font-size: 3.2rem;
    font-weight: 600;
    font-style: italic;
    background-color: #b3a9f3;
    padding: 7px;
    border-radius: 10px;
    color: white;
  }